
body {
    background: #176414;
    font-family: Arial;
}
h1 {
    color: red;
}
/* Uq5zduHrcKfnsjrnknf4bKtqMToESVygRVI2H3KlUDXLnL8bti59Z4llYTEktqcO1C9HswHRlNRwBmRGsuPsH2ryLFhncH7d8RIKJCdIib17jBseneQutX4lV7L4CmzlJJGBZF900RYvPjAJ5lytqw6xYUvkaYrFLjfwxrIerTTf4KUDLnSORxPKwAmj1kWWOFAuSrVk */
